.About {
    background-color: #ffffff;
    /* padding: 70px 0px 100px; */
}


header{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 180px 50px ;
}

.heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h2{
    font-size: 2rem;
    color: #43655A;
}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


p{
    width: 778px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
}


#pg-img {
    position: absolute;
    width: 600px;
    height: 500px;
    border-radius: 30px;
    right: 20px;
    top: 25%;
    background-repeat: no-repeat;
    background-position: center;
}

@media (max-width: 950px) {
    .About {
        background-color: #ffffff;
        padding: 70px 0px 100px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        margin: 180px 50px ;
    }
    
    .heading {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    h2{
        font-size: 2rem;
        color: #43655A;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    
    p{
        width: 778px;
        font-size: 1.5rem;
        margin-bottom: 20px;
        font-weight: 500;
    }
    
    
    #pg-img {
       display: none;
    }
}

@media (max-width: 414px) {
    .About {
        background-color: #ffffff;
        padding: 70px 0px 100px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        margin: 180px 50px ;
    }
    
    .heading {
        font-size: 0.9rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    
    h2{
        font-size: 2rem;
        color: #43655A;
    }
    
    .content{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
    
    p{
        width: 300px;
        font-size: 0.9rem;
        margin-bottom: 20px;
        font-weight: 500;
    }
    
    
    #pg-img {
       display: none;
    }
}